{% load static %}
<!DOCTYPE html>
<html>
{% include "pages/includes/head.html" %}
<body>
{% include "pages/includes/nav.html" %}
<div class="container mt-5">

{#            {% load pages_tags %}#}
{#            {% getcats as cats %}#}
            {% block content %}
            {% endblock content %}
{#            /////////////////////////////#}
{#            <h3>Categories</h3>#}
{#            <div>#}
{#                {% if cats %}#}
{#                    <ul>#}
{#                        {% for c in cats %}#}
{#                            <li><a href="">{{ c.name }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% else %}#}
{#                    <p>No categories are available.</p>#}
{#                {% endif %}#}
{#            </div>#}
{#            /////////////////////////#}
{#            <div>#}
{#                {% show_categories %}#}
{#            </div>#}
        </div>
{% include "pages/includes/footer.html" %}
</body>


</html>
